
html {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #5A464C;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

header,
footer {
  background-color: #53131E;
  padding: 48px;
  text-align: center;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
}

h1,
h2 {
  color: #B5D6B2;
}

main {
  height: 70%;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: #B5D6B2;
  font-size: 100px;
}